/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation
 *= require normalize
 *= require font-awesome
 */




.grid-frame {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
}

a {
	color: white;
}

li {
	text-align: center;
}

li a {
	color: white;
	font-weight: 800;
}

li a:hover {
	color: dodgerblue;
}

.header-logo {
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
	color: transparent;
	background: linear-gradient(45deg, hotpink, dodgerblue);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	font-weight: 700;
	display: block;
}

.button {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 5px;
  border: 4px solid white;
  background: linear-gradient(45deg, pink, skyblue);
  transition: all 1s ease; 
  border-radius: 5px;
}


.button:hover {
  background: linear-gradient(45deg, #e5acb6, #79b9d3); 
}

#post-container {
	margin: 0 auto;
	text-align: center;
}

.form {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

#post-info {
	text-align: left;
	max-width: 500px;
	margin: 0 auto;
	display: inline-block;
}

.post-index-div {
	max-width: 99.5%;
	height: auto;
	background: linear-gradient(rgba(255,192,203,0.4), rgba(135,206,235,0.4));
	border-radius: 20px;
}

i {
	display: inline-block;
}