<h2>Create a post!</h2>
<h3>Select a song below.</h3>
<div id="index-container">
	<% @songs.each do |song| %>
		<div class="song-index-box">
			<div>
					<%= song.name %> by <%= song.artists.first.name %><br>
					<%= link_to 'View', song_path(song.id) %>
			</div>
		</div>
	 <% end %>
 </div>